:root {
  --primary: rgb(26, 224, 201);
  --bg: #0e0e0e;     /* Background gelap hitam */
  --text: #ffffff;   /* Teks putih */
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Popins", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  min-height: 2000px; 
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0.85); /* NAVBAR HITAM */
  border-bottom: 1px solid #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text);
}
.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--text);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--text);
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  /* HAPUS background image */
  background-image: none;
  background-color: #111; /* hero hitam sedikit lebih terang */

  position: relative;
}

/* GRADIENT BARU GELAP */
.hero::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(14, 14, 14, 1),
    rgba(14, 14, 14, 0) 40%
  );
}

.hero .content{
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1{
  font-size: 3em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1,1,3, 0.7);
  line-height: 1.2;
}
.hero .content h1 span{
  color: var(--primary)
}

/* MEDIA QUERIES */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -1000%;
    background-color: #111;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--text);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
